body{
    
    background-color: rgb(246, 18, 147);
}
input{
    background-color: rgb(17, 200, 246);
    line-height: 50%;
    
}
table{
    background: rgb(57, 198, 122);
    padding: 50px;
    border-radius: 100%;
}
button{
    height: 60px;
    width: 60px;
    background: rgba(255, 217, 0, 0.618);
}