label {
     
}
form{
    
    background-color: red;

}
h1{
    
}
.submit{
    padding: 10px;
}
body{
    
    background-color: rgb(244, 16, 145);
}
input[type=submit]{
    background-color: rgb(37, 216, 248);
}
input[type=submit]:hover{
    background-color: rgb(235, 24, 24);
}

table{
    margin: 0 auto;
}
